.services_ruby-on-rails {
  background-image: url(/images/services/ruby-on-rails/ruby-on-rails-bg.png),radial-gradient(circle at 80% 25%, #222222, #000000);

  .main-content {
    color: rgba(255,255,255,0.75);

    h1 {
      font: {
        family: 'Bungee', sans-serif;
        size: 2.8rem;
        weight: normal;
      }
    }
  }
}
