.blog {
  .application-main-content {
    margin: 0 auto;
    font-size: 1.1rem;
    line-height: 1.4;
    padding: 6rem 3rem 3rem 3rem;
    width: 100%;

    @media (min-width: $large-screen) {
      width: 600px;
      padding: 10rem 0;
    }

    a {
      color: $brand-primary-color;
      text-decoration: none;
      transition: color 0.5s ease-out;

      &:hover {
        color: $brand-secondary-color;
      }
    }

    .blog-title {
      border-bottom: 1px solid #ddd;
      margin-bottom: 3rem;
      padding-bottom: 3rem;
      text-align: center;
    }


    .blog-image {
      margin: 2rem 0;
      width: 100%;

      &--main {
        margin-top: 0;
      }

      @media (min-width: $large-screen) {

      }
    }

    .button-primary {
      color: white;
    }

    .blog-subscribe {
      border: 1px solid #ddd;
      border-radius: 3px;
      padding: 2rem;
      margin-bottom: 2rem;
      text-align: center;

      .button-primary {
        margin: 0;
      }

      &__email {
        flex: 1;
        padding: 0 1rem;
      }

      &__input {
        display: flex;
      }

      &__intro {
        margin-bottom: 2rem;
      }
    }

    .mini-blog-post {
      border-bottom: 1px solid #ddd;
      padding: 3rem 0;

      h2 {
        font-size: 1.5rem;
      }

      &__title {
        color: $text-color;
      }

      &__summary {
        font-size: 1rem;
        margin: 1.5rem 0;
      }
    }

    .pagination {
      margin-top: 3rem;
      text-align: center;
    }
  }

  &.blog_index h1 {
    margin: 0 0 3rem 0;
    text-align: center;
  }
}
