.split-layout {
  display: flex;
  min-height: 580px;

  &-primary {
    align-self: center;
    padding: 6rem;
    width: 60%;
  }

  &-primary-wrapper {
    max-width: 560px;
    margin: 0 auto;
  }

  &-secondary {
    align-items: center;
    display: flex;
    flex: {
      direction: column;
      grow: 1;
    }
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 40%;
  }
}
