@import 'normalize.css';

@import url('https://fonts.googleapis.com/css?family=Bungee');

@import "font-awesome-sprockets";
@import "font-awesome";

@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:200,600|Lato:400,700');

@import 'split-layout';

*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

body {
  font: {
    family: 'Lato', sans-serif;
    size: 1rem;
  }
  line-height: 1.7;
  min-height: 100vh;
  min-width: 320px;
  color: #3d3e44;
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
}

strong {
  font-weight: 700;
}

.image {
  image-rendering: crisp-edges;
}

.application-header{
  padding: {
    bottom: 1.5rem;
    top: 1.5rem;
  }
  position: absolute;
  z-index: 10;
}

.application-nav-logo {
  margin-left: 3rem;
}

.application-footer {
  background-color: #29292c;
  color: #b5b5c0;
  padding: 4.5rem 6rem;
}

.startup-heroes {
  color: white;
  width: 160px;
}

.hero {
  min-height: 48vh;

  .split-layout-secondary {
    background-image: linear-gradient(#07666F, #118590);
  }

  &-inner-shadow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-box-shadow: inset -4px 0 8px rgba(0,0,0,0.1);
    box-shadow: inset -4px 0 8px rgba(0,0,0,0.1);
  }

  &-project-image {
    background-size: auto 100%;
    bottom: 0;
    height: 70vmin;
    margin: {
      bottom: 9vh;
      right: -35vmin;
    }
    position: absolute;
    right: 0;
    transform: translateX(-95%) translateY(1rem) rotateZ(-11deg);
    width: 35vmin;
  }

  .button-primary {
    background-color: white;
    color: #ED2419;
  }
}

.title-primary {
  font: {
    family: 'Libre Franklin', sans-sefif;
    weight: 200;
  }
  line-height: 1.2;
}

.title-secondary {
  font: {
    family: 'Libre Franklin', sans-sefif;
    size: 0.8em;
    weight: 600;
  }
  text-transform: uppercase;
  -webkit-font-smoothing: subpixel-antialiased;
}

.button-primary {
  appearance: none;
  background-color: #ED2419;
  border: 0;
  color: white;
  display: inline-block;
  font: {
    size: 0.9em;
    weight: 700;
  }
  line-height: 1;
  margin-top: 1.5rem;
  padding: 1rem 1.5rem;
  text: {
    align: center;
    decoration: none;
  }
  user-select: none;
  vertical-align: middle;
}

.copyright{
  font-size: 0.9rem;

  p {
    margin: 0;
  }
}

.start-your-project {
  background-color: #29292c;
  border-bottom: 1px solid #494a51;
  color: #b5b5c0;
}

.section-hero-image {
  bottom: 0;
  height: 100%;
  left: 0;
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.experience {
  .title-primary {
    color: #ED2419;
  }
}

.service-list {
  list-style: none;
  margin: 3rem 0 0 0;
  padding: 0;
}

.service-item {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;

  &:nth-child(2n) {
    margin-right: 0;
  }

  ul {
    font-size: 0.9rem;
    list-style: none;
    margin: 0;
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
    padding: 0;
  }
}

.service-design {
  color: #21439F;

  a {
    text-decoration: none;
    color: #21439F;
  }
}

.service-development {
  color: #EDA919;

  a {
    text-decoration: none;
    color: #EDA919;
  }
}

.service-marketing {
  color: #118590;

  a {
    text-decoration: none;
    color: #118590;
  }
}

.service-support {
  color: #ED7D19;

  a {
    text-decoration: none;
    color: #ED7D19;
  }
}

//
// index
//

.index {
  .hero {
    background-color: #118690;
    background-image: radial-gradient(circle at 80% 25%, #2D8E97, #07666F);
    color: white;
    min-height: 96vh;
  }
}

//
// services/embedded-software-development
//

.services_embedded-software-development {
  background-image: url(/images/services/embedded-software/embedded-software-bg.png),linear-gradient(#29292c, #204E1B);
  background-position: top center;
  background-size: cover;
  position: relative;

  .main-content {
    color: rgba(255,255,255,0.75);

    a {
      color: #ffc952;
      text-decoration: none;
    }

    h1 {
      color: #ffc952;
      font-size: 1.5rem;
      margin: 5rem 0 3rem 0;
      line-height: 1.2;
    }

    h2 {
      font-size: 1.5rem;
      margin: 3rem 0;
    }

    .wrap {
      width: 500px;
      margin: 0 auto;
      padding: 10rem 0;
      font-size: 1.2rem;
      line-height: 1.4;
    }

    .embedded-heart {
      display: block;
      margin: 0 auto;
      width: 400px;
      height: 400px;
    }

    .button-primary {
      background-color: white;
      color: #ED2419;
      margin-top: 3rem;
    }
  }
}

//
// /services/custom-software-development
//

.services_custom-software-development {
  background-image: url(/images/services/custom-software-development/custom-software-development-bg.png),radial-gradient(circle at 80% 25%, #1c80dd, #3434ad);
  background-position: top center;
  background-size: cover;
  position: relative;

  .main-content {
    color: rgba(255,255,255,0.75);

    a {
      color: #ffc952;
      text-decoration: none;
    }

    h1 {
      color: #ffffff;
      font-size: 1.5rem;
      margin: 5rem 0 3rem 0;
      line-height: 1.2;
    }

    h2 {
      font-size: 1.5rem;
      margin: 3rem 0;
    }

    .wrap {
      width: 500px;
      margin: 0 auto;
      padding: 10rem 0;
      font-size: 1.2rem;
      line-height: 1.4;
    }

    .button-primary {
      background-color: white;
      color: #ED2419;
      margin-top: 3rem;
    }
  }
}


//
// /services/ruby-on-rails
//

.services_ruby-on-rails {
  background-image: url(/images/services/ruby-on-rails/ruby-on-rails-bg.png),radial-gradient(circle at 80% 25%, #222222, #000000);
  background-position: top center;
  background-size: cover;
  position: relative;

  .main-content {
    color: rgba(255,255,255,0.75);

    a {
      color: #ffc952;
      text-decoration: none;
    }

    h1 {
      color: #ffffff;
      font: {
        family: 'Bungee', sans-serif;
        size: 2.8rem;
        weight: normal;
      }
      margin: 5rem 0 3rem 0;
      line-height: 1.2;
    }

    h2 {
      font-size: 1.5rem;
      margin: 3rem 0;
    }

    .wrap {
      width: 500px;
      margin: 0 auto;
      padding: 10rem 0;
      font-size: 1.2rem;
      line-height: 1.4;
    }

    .button-primary {
      background-color: white;
      color: #ED2419;
      margin-top: 3rem;
    }

    .ruby {
      display: block;
      margin: 0 auto;
      width: 500px;
      height: 500px;
    }
  }
}
