@import 'normalize.css';

@import url('https://fonts.googleapis.com/css?family=Bungee');
@import url('https://fonts.googleapis.com/css?family=Carter+One');
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:200,600|Lato:400,700');

@import "font-awesome-sprockets";
@import "font-awesome";

$brand-primary-color: #1c868f;
$brand-secondary-color: #eb7d2b;
$text-color: #3D3E44;
$highlight-color: #ED2419;

$medium-screen: 768px;
$large-screen: 1024px;

@import 'split-layout';

@import 'header';
@import 'footer';
@import 'hire-us';
@import 'index';
@import 'blog';
@import 'thanks';
@import 'services/services';

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: {
    family: 'Lato', sans-serif;
    size: 1rem;
  }
  line-height: 1.7;
  min-height: 100vh;
  color: $text-color;
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
}

strong {
  font-weight: 700;
}

.image {
  image-rendering: crisp-edges;
}

.title-primary {
  font: {
    family: 'Libre Franklin', sans-sefif;
    weight: 200;
  }
  line-height: 1.2;
}

.title-secondary {
  font: {
    family: 'Libre Franklin', sans-sefif;
    size: 0.8em;
    weight: 600;
  }
  text-transform: uppercase;
  -webkit-font-smoothing: subpixel-antialiased;
}

.button-primary {
  appearance: none;
  background-color: $highlight-color;
  border: 0;
  color: white;
  cursor: pointer;
  display: inline-block;
  font: {
    size: 0.9em;
    weight: 700;
  }
  line-height: 1;
  margin-top: 1.5rem;
  padding: 1rem 1.5rem;
  text: {
    align: center;
    decoration: none;
  }
  user-select: none;
  vertical-align: middle;
}

.copyright{
  font-size: 0.9rem;

  p {
    margin: 0;
  }
}

.start-your-project {
  background-color: #29292c;
  border-bottom: 1px solid #494a51;
  color: #b5b5c0;
}
