<section class="start-your-project split-layout">
  <div class="split-layout-secondary">
  </div>
  <div class="split-layout-primary">
    <div class="split-layout-primary-wrapper">
      <h1 class="title-primary">Let's build something great together!</h1>
      <p>We're working with some great companies and we'd love to add your startup to that list. Get in touch today for a free consultation with one of our Heroes.</p>
      <% link_to "/hire-us/", class:"button-primary" do %>
        Start your project today <i class="fa fa-arrow-right fa-fw"></i>
      <% end %>
    </div>
  </div>
</section>
<footer class="application-footer">
  <div class="footer-content">
  </div>
  <div class="copyright">
    <strong>&copy; 2017 - <%= Date.today.year %> Startup Heroes Ltd</strong>
    <p>Registered in England &amp; Wales 10859977</p>
  </div>
</footer>
