<footer class="application-footer">
  <div class="footer-content">
  </div>
  <div class="copyright">
    <strong>&copy; 2017 - <%= Date.today.year %> Startup Heroes Ltd</strong>
    <p>Registered in England &amp; Wales 10859977</p>
  </div>
</footer>
